@charset "UTF-8";

/* RESET */

*,
*::after,
*::before,
ul,
p,
ol {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    line-height: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    
}

body {
    /*font-family: 'Roboto Condensed',sans-serif;*/
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* slick  */
.slick-prev,
.slick-next {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    margin-top: -17px;
    font-size: 0;
    border: 0;
    background:none;
    z-index: 1;
    text-align: center;
    line-height: 50px;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
.slick-list{
    padding-right: -1px;
}

.slick-prev::before,
.slick-next::before {
    display: block;
    font-family: 'Material Icons';
    color: #303132;
    font-size: 18px;
}

.slick-prev::before {
    content: '\e908';
    margin-right: 6px;
}

.slick-next::before {
    content: '\e907';
    margin-left: 8px;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    opacity: 0.3;
}
.slick-slide{
    height: auto;
}

.slick-slide img {
    margin: 0 auto;
}
.slick-dots{
    text-align: center;
    position: relative;
    bottom: -15px;
}
.slick-dots >li{
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #adadad;
    border: 0;
    transition: all .5s;
    margin: 1px;
    cursor: pointer;
}
.prate_list .slick-dots>li{
    float: none;
}
.slick-dots>li.slick-active {
    background-color: #353f4f;
}
.slick-dots>li button {
    background: none;
    border: 0;
    font-size: 0;
}
.container-site{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.box_prate{
    margin: 15px 0;
}
.prate_title{
    font-family: 'Roboto Condensed',
    sans-serif;
    color: #5e6774;
    font-weight: 700;
    margin-bottom: 15px;
}
.prodName{
    height: 65px;
    font-size: 1rem;
    font-weight: 400;
    color: #303132;
    text-align: left;
    margin-bottom: 25px;
}
.oldPrice{
    color: #5e6774;
    height: 16px;
    font-weight: 400; 
    display: block;
}
.oldPrice strong{
    font-weight: 700;
    text-decoration: line-through;
}
.price{
    display: block;
    line-height: 25px;
    color: #5e6774;
    font-weight: 400;
}
.price strong {
    font-weight: 900;
    color: #353f4f;
}
.priceParce{
    height: 20px;
    color: #5e6774;
    display: block;
}
.bx_buy{
    width: 100%;
    margin: 15px 0 4px 0;
    position: relative;
}
.btn_buy{
    display: block;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #d4d2d2;
    padding: 10px 0;
}

.btn_buy::before{  
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #ff6600;
}
.btn_buy span{
    font-family: 'Roboto Condensed',sans-serif;
    position: relative;
    display: inline-block;
    color: #353f4f;
    font-size: .75rem;
    font-weight: 700;
}
.btn_buy span::after {
    content: '\e854';
    font-family: 'Material Icons';
    display: inline-block;
    color: #ff6600;
    margin-left: 2px;
    position: relative;
    top: 2px;
}

@media(min-width: 320px){
    .box-site{
        padding: 0 12px;
    }
    .prate_list{
        width: 100%;
        float: left;
    }
    .prate_list li{
        float: left;
        border: 1px solid #edeaea;
    }
    .prateItem{
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .prate_title {
        font-size: 0.875rem;
    }
    .prod_visi {
        width: 50%;
        float: left;
    }
    .prod_inte{
        width: 50%;
        float: left;
    }
    .prodImage{
        width: 70%;
        margin: 0 auto;
    }
    .prodName{
        font-size: .75rem;
        line-height: 16px;
    }
    .oldPrice{
        font-size: .625rem;
    }
    .price {
        font-size: .875rem;
    }
    .priceParce{
        font-size: .6875rem;
    }
}

@media(min-width: 768px) {

    .prate_title {
        font-size: 1.8125rem;
    }
    .prod_visi {
        width: 33%;
    }

    .prod_inte {
        width: 66.9%;
        float: left;
    }
    .prateItem {
        width: 85%;
    }
    .prodName {
        font-size: .875rem;
        line-height: 21px;
        margin-bottom: 30px;
    }
    .price {
        font-size: 1rem;
        line-height: 40px;        
    }
    .price strong {
        font-size: 1.4375rem;
    }
    .prate_list .slick-dots>li {
        margin-right: 8px;
    }
}

@media(min-width: 1024px) {
    .box-site{
        max-width: 1250px;
        margin: 0 auto;
    }
    .prod_visi{
        width: 25%;
    }
    .prod_inte{
        width: 75%;
    }     
    .prate_list li{
        transition: all .5s;
    }
    .prate_list >li:hover,
    .slick-track>li:hover{
        background-color: #fafafa;
    }
    .prate_list li:hover .bx_buy{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .bx_buy{
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }
    .bx_buy:hover ::before{
        opacity: 1;       
    }
    .btn_buy:hover span::after {
        opacity: 1;
        color: #ff6600;
    }
    .btn_buy::before{
        opacity: 0;
        transition: all .5s;
    }
    .btn_buy span{
        font-size: 1rem;
    }
    .btn_buy span::after{
        color: #353f4f
    }

}